<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

<div class="container mt-5">
    <div class="row">
        <!-- Product Images -->
        <div class="col-md-6 mb-4">
            <img [src]="article.imageUrl | image" loading="lazy" alt="Article Detail" class="img-fluid rounded mb-3 product-image" id="mainImage">
        </div>

        <!-- Product Details -->
        <div class="col-md-6">
            <h2 class="mb-3">{{ article.name }}</h2>
            <p class="text-muted mb-4">SKU: {{ article.id }}</p>
            <div class="mb-3">
                <span class="h4 me-2">{{ article.price | currency : 'EUR' : 'symbol' : '1.2-2' }}</span>
                <span class="text-muted"><s>{{ article.price + 10 | currency : 'EUR' : 'symbol' : '1.2-2' }}</s></span>
            </div>
            <div class="mb-3">
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-half text-warning"></i>
                <span class="ms-2">4.5 (120 valoraciones)</span>
            </div>
            <p class="mb-4"><b>{{ article.name }}</b> es fruto de un año complicado, debido a las importantes heladas que sufrió el viñedo, pero que, gracias a la maestría del equipo capitaneado por el gran Peter Sisseck, alumbró un tinto maduro y concentrado. Esta añada también destaca por el empleo casi testimonial de Garnacha en el coupage final con la Tinto fino (Tempranillo) y su vinificación íntegra en la nueva bodega diseñada específicamente para la elaboración de PSI.</p>
            
            <div class="mb-4">
                <label for="quantity" class="form-label">STOCK:</label>
                <input type="number" aria-describedby="stockHelp" class="form-control" id="quantity" [value]="article.quantityInCart" style="width: 115px;" disabled>
                <div id="stockHelp" class="form-text">
                    <span *ngIf="!article.isOnSale" style="color: red;">Artículo NO disponible.</span>                    
                </div>
            </div>

            <div id="carritoCompra" *ngIf="article.isOnSale">
                <button class="btn btn-primary btn-lg mb-3 me-2" (click)="addToCart()">
                    <i class="bi bi-cart-plus"></i> Añadir
                </button>
                <button class="btn btn-outline-danger btn-lg mb-3" (click)="removeToCart()">
                    <i class="bi bi-trash"></i> Quitar
                </button>
            </div>

            <button class="btn btn-secondary btn-lg mb-3" routerLink="/article/list">
                <i class="bi bi-return"></i> Volver
            </button>

            <div class="mt-4">
                <h5>Características principales:</h5>
                <ul>
                    <li>Crianza: 18 MESES</li>
                    <li>D.O.: RIBERA DEL DUERO</li>
                    <li>Variedad: TINTO FINO, GARNACHA</li>
                    <li>Graduación Alcohólica: 14,00%</li>
                    <li>Bodega: DOMINIO DE PINGUS</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> -->