/*
.article-name .ng-valid,
.article-code .ng-valid,
.article-price .ng-valid,
.article-image .ng-valid {
  background-color: #42A948;
}

.article-name .ng-invalid,
.article-code .ng-invalid,
.article-price .ng-invalid,
.article-image .ng-invalid {
  background-color: pink;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.ng-invalid[required], .ng-invalid.required  {
  border-left: 5px solid #a94442;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}

.alert div {
  background-color: #fed3d3;
  color: #820000;
  padding: 1rem;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: .5rem;
}

select {
  width: 100%;
  padding: .5rem;
}
*/
.form-text {
  color: rgb(226, 101, 101);
}