

<div class="row">
    <div class="col-lg-6 form-group offset-3">
        <h2>Nuevo Artículo Template</h2><hr>
        <form (ngSubmit)="createArticle(articleForm)" #articleForm="ngForm">

            <div class="article-code mb-3">
                <label for="uid" class="form-label">Código Artículo:</label>
                <input type="number" aria-describedby="uidHelp" min="0" class="form-control form-control-sm" min='1' step='1' placeholder="Código Artículo" id="uid" name="uid" ngModel #uid="ngModel" required>
                <div id="uidHelp" class="form-text" *ngIf="(uid.dirty ||  uid.touched) && uid.invalid">
                    <span *ngIf="uid.errors.required">El código es requerido</span>
                    <span *ngIf="uid.errors.min">El UID del artículo debe ser mayor a 0.</span>
                </div>
            </div>

            <div class="article-name mb-3">
                <label for="name" class="form-label">Nombre Artículo:</label>
                <input type="text" aria-describedby="nameHelp" class="form-control form-control-sm" placeholder="Nombre Artículo" id="name" name="name" ngModel #name="ngModel" required>
                <div id="nameHelp" class="form-text" *ngIf="(name.dirty || name.touched) && name.invalid">
                    <span *ngIf="name.errors.required">El nombre es obligatorio.</span>
                </div>
            </div>

            <div class="article-code mb-3">
                <label for="price" class="form-label">PVP Artículo:</label>
                <input type="number" aria-describedby="pvpHelp" min="0" class="form-control form-control-sm" placeholder="PVP Artículo" id="price" name="price" ngModel #price="ngModel" required>
                <div id="pvpHelp" class="form-text" *ngIf="(price.dirty || price.touched) && price.invalid">
                    <span *ngIf="price.errors.required">El precio es obligatorio.</span>
                    <span *ngIf="price.errors.min">El precio debe ser mayor a 0.</span>
                </div>
            </div>

            <div class="article-image mb-3">
                <label for="imageUrl" class="form-label">Imagen Artículo:</label>
                <input type="text" aria-describedby="imageHelp" class="form-control form-control-sm" placeholder="Imagen Artículo" id="imageUrl" name="imageUrl" ngModel #imageUrl="ngModel" pattern="^http(s?)\://[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(/\S*)?$" required>
                <div id="imageHelp" class="form-text" *ngIf="(imageUrl.dirty || imageUrl.touched) && imageUrl.invalid">
                    <span *ngIf="imageUrl.errors.required">La imagen es obligatoria.</span>
                    <span *ngIf="imageUrl.errors.pattern">La URL  es incorrecta.</span>
                </div>
            </div>


            <div class="mb-3 form-check article-sale">
                <input type="checkbox" class="form-check-input" id="isOnSale" name="isOnSale" ngModel>
                <label class="form-check-label" for="isOnSale">Artículo en venta</label>
            </div>
            <button [disabled]="!articleForm.valid" type="submit" class="btn btn-success">GRABAR</button>
            <h4>Formulario Valido => {{ articleForm.valid }}</h4>
            <!-- <h4>Article is {{ article | json}}</h4> -->
          </form>

    </div>
</div>

